html {
  font-size: 20px;
}
body {
  background: #fafafa;
}
[v-cloak] {
  display: none;
}
hr {
  border-top: none;
  border-color: #eee;
  margin-bottom: 40px;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container .logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
}
.container .form-container {
  margin: 0 auto;
  width: 600px;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.03);
  padding: 22px 0;
}
.container h2 {
  color: #333;
  font-size: 0.9rem;
  margin-top: 0;
}
.container .el-form {
  padding: 0 50px;
  margin-top: 40px;
}
.container .el-form .el-input__inner {
  background: #fafafa;
  border-radius: 2px;
}
.container .el-form .input-email {
  width: 265px;
}
.container .el-form .btn-send {
  border-color: #00c700;
  color: #00c700;
  width: 79px;
  margin-left: 10px;
  border-radius: 2px;
}
.container .btn-primary {
  color: white;
  background: #00c700;
  border-color: #00c700;
  width: 160px;
  margin: 30px auto;
  display: block;
  border-radius: 2px;
}
