
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd,input{
	margin:0;padding:0;
}
body{
	font-size:14px;
	font-family:"微软雅黑", "Microsoft YaHei", "黑体", "simhei", "宋体", "simsun";
	background:#fff;
	margin:0;
	padding:0;
}
img{
	border:none;
}
li{
	list-style:none;
}
input,select,textarea{
	outline:none;
}
textarea{
	resize:none;
}
input,select,textarea{
	 border:none;
}
a{
	text-decoration:none;
	color:#000;
}
/*清浮动*/
.clearfix:after{
	content:"";display:block;clear:both;
}
.clearfix:{
	zoom:1;
}

.left{
   float:left;
}
.right{
    float:right;
}
.text-align{
    text-align:center;
}
.com-width{
	width:1140px;
	margin:0 auto;
}
