<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<title>{{ frees.0.title }}</title>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.excoloSlider.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/mystyle.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.mobile-1.4.5.min.css' %}">
<link rel="shortcut icon" href="{% static 'img/realtor.ico' %}">
<script src="{% static 'js/jquery-1.9.1.min.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'js/jquery.excoloSlider.min.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'js/myjs.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js" type="text/javascript" charset="utf-8"></script>
</head>

<body id="freeedit">
<div data-role="page" id="page1">
<div id="freetitle">
<h1 id="freehead">{{ frees.0.title }}</h1>
<div><span>{{ s.sharetime|date:"Y-m-d" }}</span><span>作者:{{editor}}</span><span>阅读:{{s.visit}}</span></div>
</div>

{% for f in frees %}
<div class="free"><p>{{ f.note }}</p>
     {% if f.img != 'none' %}
     <img class="ttimg" src="{{ f.img }}" />
     {% endif %}
</div>
{% endfor %}


<!-- 声明区 -->
<div id="introduction">
	<img id="warnimg" src="{% static 'img/warn.png' %}" alt="免责声明">
	<div><p id="warnfont">上面所列信息仅供参考，瑞安居不为其准确性负责。具体信息请咨询您的经纪人。</p></div>
	<div></div>
</div>

<div class="free">
     <img class="ttimg" src="{% static 'img/gzh.png' %}" />
</div>

<!-- 页脚 -->
<div style="height:45px"></div>
<div id="foot">
    <a id="applink" href="http://www.realtoraccess.com/app/download/">
    <img id="downloadapp" src="{% static 'img/getapp.png' %}" alt="下载APP">
    </a>
  </div>
</div>

<div id="weixin-tip">
	<p>
		<img src="{% static 'img/live_weixin.png' %}" alt="微信打开"/><span id="close" title="关闭" class="close">×</span>
	</p>
</div>

</body>
</html>



