<!DOCTYPE html>
<html>

<head>
    <title>海外房产经纪人_房产信息_海外房价_买房租房【海外瑞安居华人置业】</title>
    <meta name="baidu-site-verification" content="Zl45PS4My9" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <meta name="keywords" content="海外经纪房源, 海外买房投资, 海外房产价格, 楼花暗盘, 家庭旅馆, 海外租房, 海外房产经纪人" />
    <meta name="Description" content="【海外瑞安居-全球华人无忧置业】，面向海外华人提供海外最新房产置业投资信息，温哥华房价查询、海外家庭旅馆短租，楼花暗盘信息、MLS最新房源、特色房源的中文服务和温哥华置业经纪介绍、成交记录等信息、更有海外买房深度分析，全球华人无忧置业就来海外瑞安居。" /> {% load staticfiles %} {% load tinyimg %}
    <link rel="stylesheet" type="text/css" href="{% static 'web/css/homepage.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'web/css/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'web/css/footer.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'web/css/sidelogo.css' %}">
    <link rel="shortcut icon" href="{% static 'web/images/ico.ico' %}">
    <script type="text/javascript" src="{% static 'js/jquery-1.9.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'web/js/animationCounter.min.js' %}"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116462236-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-116462236-1');
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116462236-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-116462236-1');
    </script>
</head>

<body>
    <div id="header">
        <div class="head_container">
            <div class="head_nav">
                 <div id="head_leftlogo"><a href="/"><img id="head_aaa" src="/static/web/images/logo.png" alt="海外瑞安居"></a></div>
                 <div id="head_location"><img src="/static/web/images/dail.png"><p>加拿大-大温地区
</p></div>
                 <div id="head_city">
                        <div id="city_box">
                            <ul class="country_hot">
                                <li>国&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp家:</li>
                                <li><a href="">全部</a></li>
                                <li><a href="">加拿大</a></li>
                            </ul>
                             <ul class="country_hot">
                                <li>热门城市：</li>
                                <li><a href="">北本那比</a></li>
                                <li><a href="">墨尔本</a></li>
                                <li><a href="">列治文</a></li>
                                <li><a href="">法国</a></li>
                            </ul>
                            
                             <p id="cityname_p">城&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp市：</p>
                            
                            <ul class="cityname">
                                <li class="letterstring">ABCDE</li>
                                <li class="c_name"><a href="">多伦多</li>
                                <li class="c_name"><a href="">奥沙瓦</li>
                                <li class="c_name"><a href="">巴里</li>
                                <li class="c_name"><a href="">阿伯茨福</li>
                                <li class="c_name"><a href="">埃德蒙顿</li>
                                <li class="c_name"><a href="">埃德蒙顿</li>
                            </ul>
                            <ul class="cityname">
                                <li class="letterstring">FGHIJ</li> 
                                <li class="c_name"><a href="">弗雷德里顿</a></li>
                                <li class="c_name"><a href="">哈利法克斯</a></li> 
                                <li class="c_name"><a href="">哈密尔顿</a></li>
                                <li class="c_name"><a href="">基奇纳</a></li>
                                <li class="c_name"><a href="">金斯敦</a></li>
                                <li class="c_name"><a href="">圭尔夫</a></li> 
                                <li class="c_name"><a href="">基劳纳</a></li>
                                <li class="c_name"><a href="">怀特霍斯</a></li>
                            </ul>
                            <ul class="cityname">
                                <li class="letterstring">KLMNO</li>
                                <li class="c_name"><a href="">魁北克</a></li>
                                <li class="c_name"><a href="">蒙特利尔</a></li>
                                <li class="c_name"><a href="">卡里加里</a></li>
                                <li class="c_name"><a href="">里贾纳</a></li>
                                <li class="c_name"><a href="">里贾纳</a></li>
                             </ul>
                             <ul class="cityname">
                                <li class="letterstring">PQRST</li>
                                <li class="c_name"><a href="">圣卡塔琳娜</a></li>
                                <li class="c_name"><a href="">萨德伯里</a></li>
                                <li class="c_name"><a href="">桑德贝</a></li>
                                <li class="c_name"><a href="">舍布鲁克</a></li>
                                <li class="c_name"><a href="">萨斯卡通</a></li>
                                <li class="c_name"><a href="">圣约翰斯</a></li>
                            </ul>
                            <ul class="cityname">
                                <li class="letterstring">UVW</li>
                                <li class="c_name"><a href="">渥太华</a></li>
                                <li class="c_name"><a href="">温莎</a></li>
                                <li class="c_name"><a href="">温尼伯</a></li>
                                <li class="c_name"><a href="">维多利亚</a></li>
                                <li class="c_name"><a href="">温哥华</a></li>
                            </ul>
                            <ul class="cityname">
                                <li class="letterstring">XYZ</li>
                                <li class="c_name"><a href="">夏洛特敦</a></li>
                                <li class="c_name"><a href="">钻石城</a></li>
                                <li class="c_name"><a href="">希格蒂米</a></li>
                                <li class="c_name"><a href="">耶洛奈夫</a></li>
                                <li class="c_name"><a href="">伊魁特</a></li>
                           </ul>
                           <p id="sure">确定</p>
                       </div><!-- city_box -->
                  </div><!-- head_city -->

                  <div class="nav_box">
               <div id="head_nav5"><p><span id="head_nav_land"><a href="/web/page/signin/">Agent? Log in |</a></span>
                    <span id="head_nav_login"><a href="/web/page/signup/">Sign up</a></span></p>
                </div>
                 <div class="head_navright">
                    <div  class="head_navcls" ><a href="/">首页&nbsp|&nbsp </a></div>
                    <div class="head_navcls"><a href="/web/houses">海外房源&nbsp|</a></div>
                    
                    <div class="head_navcls"><a href="/web/agentlist/"> &nbsp经纪门户&nbsp|</a></div>
                    <div class="head_navcls"><a href="/web/van">&nbsp房价走势&nbsp|</a></div>
                    <div class="head_navcls"><a href="/news/list">&nbsp全球资讯</a></div>
                 </div><!-- head_navright --> 
                 </div>
                  
        
            
            </div><!-- head_nav -->
        </div><!-- container -->

    </div>
    <div id="container_home">
        <div id="container_left">
            <div id="part1">
                <div id="background">
                    <div id="static"><img src="{% static 'web/images/1.png' %}"></div>
                    <div class="counts">
                        <div id="counts_first">
                            <a href="/web/houses">
                                <p class="sz">{{cnt.listing1}}</p>
                                <p class="mc">在售房产数量</p>
                            </a>
                        </div>
                        <div>
                            <p class="sz">{{cnt.listing2}}</p>
                            <p class="mc">预售房产数量</p>
                        </div>
                        <div>
                            <a href="/web/houses">
                                <p class="sz">{{cnt.today}}</p>
                                <p class="mc">新增房产数量</p>
                            </a>
                        </div>
                        <div>
                            <a href="/web/agentlist">
                                <p class="sz">{{cnt.agent}}</p>
                                <p class="mc">认证经纪人</p>
                            </a>
                        </div>
                        <div>
                            <a href="/web/houses">
                                <p class="sz">{{cnt.school}}</p>
                                <p class="mc">学区房数量</p>
                            </a>
                        </div>
                    </div>
                    <img id="slogan" src="{% static 'web/images/slogan.png' %}">
                    <h3 id="search_clas"><span id="search_clas_first">在售海外房源</span><span id="search_clas_two">海外楼花</span></h3>
                    <p id="searchsj"><img src="{% static 'web/images/searchsj.png' %}"></p>
                    <form class="search">
                        <input type="text" id="input_house" placeholder="  请输入MLS，查找房源">
                    </form>
                    <a id="searchlink" href="">
                        <div id="magnifying_glass"><img src="{% static 'web/images/fangdajing.png' %}"></div>
                    </a>
                </div>
            </div>
            <!--part1-->
            <div id="counselorth">
                <h2>海外置业顾问</h2>
                <div class="windowbox">
                    <div class="clickhouseth" id="houseleftth"><img src="{% static 'web/images/zuo.png' %}"></div>
                    <div class="clickhouseth" id="houserightth"><img src="{% static 'web/images/you.png' %}"></div>
                    <div class="counselor_boxth">
                        {% for s in mysites%}
                        <div class="agent_informationth" id="agentfirstth">
                            <div class="agent_headth" align="center"><a href="/web/agent/{{s.uid}}/"><img src="{{s.img|tiny_agent_img}}"></a></div>
                            {% if s.auth == 1 %}
                            <div class="bigvip"><img src="/static/web/images/bigvip.png"></div>
                            <div class="agentrenz">
                                <p>认证经纪</p>
                            </div>
                            {% else %}
                            <div class="bigvip"></div>
                            <div class="agentrenz">
                                <p>&nbsp;</p>
                            </div>
                            {% endif %}
                            <div class="agentnameth">
                                <p>{{s.usercity}}&nbsp;经纪</p>
                                <a href="/web/agent/{{s.uid}}/">
                                    <div style="height: 35px;float: left;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;width: 100%;"><strong style="font-size: 22px;line-height: 35px;">{{s.username}}</strong></div></a>
                                <p>{{s.corp}}</p>
                            </div>
                            <div class="agent_adth">
                                <p>{{s.note|safe}}</p>
                                <div class="weixsoanth"> <img src="{{s.wechat|tiny_agent_img}}"></div>
                            </div>
                        </div>
                        {% endfor %}
                        <!-- counselor_box  -->
                    </div>
                    <!-- counselor -->
                </div>
            </div>
            <div id="part2">
                <h2>海外经纪分享房源</h2>
                <div class="windowbox">
                    <div class="clickhouse" id="houseleft" style="display: none;"><img src="{% static 'web/images/zuo.png' %}"></div>
                    <div class="clickhouse" id="houseright"><img src="{% static 'web/images/you.png' %}"></div>
                    <div id="box">
                        {% for s in saling %}
                        <div class="{% if forloop.counter == 4 or forloop.counter == 8 or forloop.counter == 12 or forloop.counter == 16 or forloop.counter == 20 or forloop.counter == 24 %} share_box nomargin {% else %} share_box {% endif %}">
                            <div class="share_logo"><a href="/web/agent/{{s.uid}}/"><img src="{{s.head|tiny_agent_img}}"></a></div>
                            <div class="broker">
                                <p>{{s.from}}</p>
                                <a href="/web/agent/{{s.uid}}/">
                                    <p><b>{{s.username}}</b></p>
                                </a>
                                <p class="type">{{s.corp}}</p>
                            </div>
                            <a href="{{s.htmlid}}">
                                <div class="above">
                                    <div id="housepicture"><img src="{{s.img|tiny_listing_img}}"></div>
                                    <div class="information">
                                        <p id="price">&nbsp&nbsp{{s.price}}&nbsp&nbsp|&nbsp&nbsp{{s.areas}}</p>
                                        <p id="adddress">&nbsp&nbsp{{s.cityname}}&nbsp&nbsp{{s.housetype}}</p>
                                    </div>
                                </div>
                            </a>
                            <div class="page_view">
                                <p class="reading"><img src="/static/web/images/reading.png">{{s.visit}}</p>
                                <p class="date">{{s.date}}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- box -->
                <div id="single">
                    <h2>独家发布短租房源 </h2>
                    <div><img id="free" src="{% static 'web/images/free.png' %}"></div>
                </div>
                <div class="windowbox">
                    <div class="clickhouse" id="rentleft" style="display: none;"><img src="{% static 'web/images/zuo.png' %}"></div>
                    <div class="clickhouse" id="rentright"><img src="{% static 'web/images/you.png' %}"></div>
                    <div id="box_2two">
                        {% for s in renting %}
                        <div class="{% if forloop.counter == 4 or forloop.counter == 8 or forloop.counter == 12 or forloop.counter == 16 %} share_boxtwo nomargin {% else %} share_boxtwo {% endif %}">
                            <div class="share_logotwo"><a href="/web/agent/{{s.uid}}/"><img src="{{s.head|tiny_agent_img}}"></a></div>
                            <div class="brokertwo">
                                <p>{{s.from}}</p>
                                <a href="/web/agent/{{s.uid}}/">
                                    <p><b>{{s.username}}</b></p>
                                </a>
                                <p class="typetwo"><img src="/static/web/images/rentt.png"></p>
                            </div>
                            <a href="{{s.htmlid}}">
                                <div class="abovetwo">
                                    <div id="housepicturetwo"><img src="{{s.img|tiny_listing_img}}"></div>
                                    <div class="informationtwo">
                                        <p id="pricetwo">&nbsp&nbsp{{s.price}}&nbsp&nbsp|&nbsp&nbsp{{s.housetype}}</p>
                                        <p id="adddresstwo">&nbsp&nbsp{{s.listingname}}</p>
                                    </div>
                                </div>
                            </a>
                            <div class="page_viewtwo">
                                <p class="readingtwo"><img src="/static/web/images/reading.png">{{s.visit}}</p>
                                <p class="datetwo">{{s.date}}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- box -->
            </div>
            <!-- part2 -->
            <div id="headline_box">
                <h2>全球无忧置业头条</h2>
                <div id="headline_li">
                    <div id="categories_box">
                        <div class="boders"></div>
                        <div class="categories" dataid="news1" subnum="0" pic="wuyouzhiye-01.png" id="C_first">
                            <img id="f_logo" src="{% static 'web/images/quqnqiu.png' %}">
                            <h2>全球追踪</h2>
                            <h3>了解全球新鲜事</h3>
                        </div>
                        <div class="boders"></div>
                        <div class="categories" dataid="news2" subnum="3" pic="wuyouzhiye-02.png" id="C_two">
                            <div class="sanjiao"><img src="{% static 'web/images/righttt.png' %}"></div>
                            <div class="categories_r">
                                <img class="C_logo" src="{% static 'web/images/houses.png' %}">
                                <h2>房产走势</h2>
                                <h3>海外房产大数据分析<br>掌握价格走势不再难</h3>
                            </div>
                        </div>
                        <div class="boders"></div>
                        <div class="categories" dataid="news3" subnum="5" pic="wuyouzhiye-03.png" id="C_three">
                            <div class="sanjiao"><img src="{% static 'web/images/righttt.png' %}"></div>
                            <div class="categories_r">
                                <img class="C_logo" src="{% static 'web/images/zous.png' %}">
                                <h2>财税知道</h2>
                                <h3>海外贷款<br>税务管理看这里</h3>
                            </div>
                        </div>
                        <div class="boders"></div>
                        <div class="categories" dataid="news4" subnum="8" pic="wuyouzhiye-04.png" id="C_fore">
                            <div class="sanjiao"><img src="{% static 'web/images/righttt.png' %}"></div>
                            <div class="categories_r">
                                <img class="C_logo" src="{% static 'web/images/yaos.png' %}">
                                <h2>物业管理</h2>
                                <h3>海外房产物业管理<br>必须知道的那些事</h3>
                            </div>
                        </div>
                        <div class="boders"></div>
                        <div class="categories" dataid="news5" subnum="9" pic="wuyouzhiye-05.png" id="C_five">
                            <div class="sanjiao"><img src="{% static 'web/images/righttt.png' %}"></div>
                            <div class="categories_r">
                                <img class="C_logo" src="{% static 'web/images/jiaz.png' %}">
                                <h2>家政服务</h2>
                                <h3>海外房源出租托管<br>海外家政如此简单</h3>
                            </div>
                        </div>
                        <div class="boders"></div>
                        <div class="categories" dataid="news6" subnum="10" pic="wuyouzhiye-06.png" id="C_six">
                            <div class="sanjiao"><img src="{% static 'web/images/righttt.png' %}"></div>
                            <div class="categories_r">
                                <img class="C_logo" src="{% static 'web/images/live.png' %}">
                                <h2>本地生活</h2>
                                <h3>好吃的，好玩的<br>海外生活新时尚</h3>
                            </div>
                        </div>
                    </div>
                    <!-- categories_box -->
                    <div class="news">
                        <ul class="news1">
                            <li>
                                <p>
                                    <a href="/news/{{article.sight.articleid}}" target="_blank">
                         <span>国际视野 | </span>
                         <span>{{article.sight.title}}</span>
                     </a>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <a href="/news/{{article.education.articleid}}" target="_blank">
                     <span>海外教育 | </span>
                     <span>{{article.education.title}}</span>
                   </a></p>
                            </li>
                            <li>
                                <p>
                                    <a href="/news/{{article.immigration.articleid}}" target="_blank">
                     <span>移民政策 | </span>
                     <span>{{article.immigration.title}}</span>
                    </a></p>
                            </li>
                        </ul>
                        <ul class="news2">
                            <li>
                                <p>
                                    <a href="/news/{{article.property.articleid}}" target="_blank">
                     <span>地产动态 | </span>
                     <span>{{article.property.title}}</span>
                    </a></p>
                            </li>
                            <li>
                                <p>
                                    <a href="/news/{{article.investment.articleid}}" target="_blank">
                     <span>地产投资 | </span>
                     <span>{{article.investment.title}}</span>
                   </a></p>
                            </li>
                        </ul>
                        <ul class="news3">
                            <li>
                                <p>
                                    <a href="/news/{{article.tax.articleid}}" target="_blank">
                     <span>税务 | </span>
                     <span>{{article.tax.title}}</span>
                    </a></p>
                            </li>
                            <li>
                                <p>
                                    <a href="/news/{{article.insure.articleid}}" target="_blank">
                     <span>保险 | </span>
                     <span>{{article.insure.title}}</span>
                   </a></p>
                            </li>
                            <li>
                                <p>
                                    <a href="/news/{{article.loan.articleid}}" target="_blank">
                     <span>贷款 | </span>
                     <span>{{article.loan.title}}</span>
                   </a></p>
                            </li>
                        </ul>
                        <ul class="news4">
                            <li>
                                <p>
                                    <a href="/news/{{article.manage.articleid}}" target="_blank">
                     <span>瑞安居观察 | </span>
                     <span>{{article.manage.title}}</span>
                    </a></p>
                            </li>
                        </ul>
                        <ul class="news5">
                            <li>
                                <p>
                                    <a href="/news/{{article.housekeep.articleid}}" target="_blank">
                     <span>瑞安居观察 | </span>
                     <span>{{article.housekeep.title}}</span>
                    </a></p>
                            </li>
                        </ul>
                        <ul class="news6">
                            <li>
                                <p>
                                    <a href="/news/{{article.fashion.articleid}}" target="_blank">
                     <span>时尚 | </span>
                     <span>{{article.fashion.title}}</span>
                    </a></p>
                            </li>
                            <li>
                                <p>
                                    <a href="/news/{{article.diet.articleid}}" target="_blank">
                     <span>饮食 | </span>
                     <span>{{article.diet.title}}</span>
                    </a></p>
                            </li>
                            <li>
                                <p>
                                    <a href="/news/{{article.tour.articleid}}" target="_blank">
                     <span>旅行 | </span>
                     <span>{{article.tour.title}}</span>
                     </a>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- headline_li -->
            </div>
            <!-- headline_box -->
            <div id="hot_accounts">
                <h2>热门公众号推荐</h2>
                <div id="accounts_box">
                    <div class="up_bottom">
                        <div class="accounts" id="hover1">
                            <div class="accounts_logo"><img src="{% static 'web/images/222.png' %}"></div>
                            <div class="A_information">
                                <h2>瑞安居</h2>
                                <p>微信号 | hwruianju</p>
                                <p>海外房产经纪门户</p>
                            </div>
                            <div class="accounts_cusp"><img src="{% static 'web/images/lefttt.png' %}"></div>
                        </div>
                        <div class="accounts_up" id="hover1_up">
                            <div class="A_information_up">
                                <h2>瑞安居</h2>
                                <p>微信号 | hwruianju</p>
                                <p>海外房产经纪门户</p>
                            </div>
                            <div class="accounts_logo_up"><img src="{% static 'web/images/gzh.png' %}"></div>
                        </div>
                    </div>
                    <div class="up_bottom">
                        <div class="accounts" id="hover2">
                            <div class="accounts_logo"><img src="{% static 'web/images/caishui.png' %}"></div>
                            <div class="A_information">
                                <h2>BCSUN财税</h2>
                                <p>微信号 | </p>
                                <p>海外房产经纪门户</p>
                            </div>
                            <div class="accounts_cusp"><img src="{% static 'web/images/lefttt.png' %}"></div>
                        </div>
                        <div class="accounts_up" id="hover2_up">
                            <div class="A_information_up">
                                <h2>BCSUN财税</h2>
                                <p>微信号 | </p>
                                <p>海外房产经纪门户</p>
                            </div>
                            <div class="accounts_logo_up"><img src="{% static 'web/images/csewm.png' %}"></div>
                        </div>
                    </div>
                    <div class="up_bottom">
                        <div class="accounts" id="hover3">
                            <div class="accounts_logo"><img src="{% static 'web/images/lutou.png' %}"></div>
                            <div class="A_information">
                                <h2>路透中文网</h2>
                                <p>微信号 | reuterschina</p>
                                <p>全球金融市场咨询服务</p>
                            </div>
                            <div class="accounts_cusp"><img src="{% static 'web/images/lefttt.png' %}"></div>
                        </div>
                        <div class="accounts_up" id="hover3_up">
                            <div class="A_information_up">
                                <h2>路透中文网</h2>
                                <p>微信号 | reuterschina</p>
                                <p>全球金融市场咨询服务</p>
                            </div>
                            <div class="accounts_logo_up"><img src="{% static 'web/images/lutouewm.png' %}"></div>
                        </div>
                    </div>
                    <div class="up_bottom">
                        <div class="accounts" id="hover4">
                            <div class="accounts_logo"><img src="{% static 'web/images/word.png' %}"></div>
                            <div class="A_information">
                                <h2>世界邦</h2>
                                <p>微信号 | shijiebang</p>
                                <p>给你真正的超级自由行</p>
                            </div>
                            <div class="accounts_cusp"><img src="{% static 'web/images/lefttt.png' %}"></div>
                        </div>
                        <div class="accounts_up" id="hover4_up">
                            <div class="A_information_up">
                                <h2>世界邦</h2>
                                <p>微信号 | shijiebang</p>
                                <p>给你真正的超级自由行</p>
                            </div>
                            <div class="accounts_logo_up"><img src="{% static 'web/images/shijiebewm.png' %}"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- accounts_box -->
            <div style="clear:both"></div>
        </div>
        <!-- container_left -->
        <div id="container_right"></div>
        <div style="clear:both"></div>
    </div>
    <!-- container_home -->
    <div id="footer"></div>
    <script type="text/javascript" src="{% static 'web/js/ruianju.js' %}"></script>
</body>

</html>