<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Create your Realtor Webpage in Chinese - Realtoraccess</title>
    <link rel="shortcut icon" href="{% static 'web/img/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'web/css/element.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/password.css' %}">
    <!-- <link rel="stylesheet" href="css/element.css">
    <link rel="stylesheet" href="css/password.css"> -->
</head>

<body>
    <div id="app" v-cloak class="container">
        <div v-show="step == 1">
            <img class="logo" src="{% static 'web/img/img_password_logo@2x.png' %}" width="212" @click="enterHome"/>

            <div class="form-container">
                <el-form ref="form1" :model="passwordForm1" :rules="rules1" label-position="left" label-width="140px">
                    <h2>Change Password</h2>
                    <hr />
                    <el-row>
                        <el-form-item label="E-mail Address" prop="userid">
                            <el-input v-model="passwordForm1.userid" class="input-email"></el-input>
                            <el-button class="btn-send" size="medium" @click="sendEmail">Send</el-button>
                        </el-form-item>
                    </el-row>
                    <el-form-item label="Verification Code" prop="code">
                        <el-input v-model="passwordForm1.code" class="input-verify"></el-input>
                    </el-form-item>
                </el-form>
            </div>
            <el-button class="btn-primary" @click="nextStep">Next</el-button>
        </div>
        <div v-show="step == 2">
            <img class="logo" src="{% static 'web/img/img_password_logo@2x.png' %}" width="212"  @click="enterHome"/>
            <div class="form-container">
                <el-form ref="form2" :model="passwordForm2" :rules="rules2" label-position="left" label-width="140px">
                    <h2>Change Password</h2>
                    <hr />
                    <el-form-item label="New Password" prop="passwd1">
                        <el-input v-model="passwordForm2.passwd1" type="password"></el-input>
                    </el-form-item>
                    <el-form-item label="Confirm password" prop="passwd2">
                        <el-input v-model="passwordForm2.passwd2" type="password"></el-input>
                    </el-form-item>
                </el-form>
            </div>
            <el-button class="btn-primary" @click="changePassword" :loading="changeLoading">Save</el-button>
        </div>
    </div>
</body>
<script src="{% static 'web/js/jquery.min.js' %}"></script>
<script src="{% static 'web/js/vue.min.js' %}"></script>
<script src="{% static 'web/js/element.js' %}"></script>
<!-- <script src="js/jquery.min.js"></script>
<script src="js/vue.min.js"></script>
<script src="js/element.js"></script> -->
<script>
    new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data: function () {
            var validatePass = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('Please Enter New Password'))
                } else {
                    if (this.passwordForm2.passwd2 !== '') {
                        this.$refs.form2.validateField('passwd2');
                    }
                    callback()
                }
            }
            var validatePass2 = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('Please Confirm Password'))
                } else if (value !== this.passwordForm2.passwd1) {
                    callback(new Error('Password and Confirm Password inconsistent!'))
                } else {
                    callback()
                }
            };
            return {
                step: 1,
                passwordForm1: {
                    userid: '',
                    code: '',
                    code2: ''
                },
                rules1: {
                    userid: [
                        { required: true, message: 'please enter your email address', trigger: 'blur' }
                    ],
                    code: [
                        { required: true, message: 'please enter verification code', trigger: 'blur' }
                    ]
                },
                passwordForm2: {
                    passwd1: '',
                    passwd2: ''
                },
                rules2: {
                    passwd1: [
                        { validator: validatePass, trigger: 'blur' }
                    ],
                    passwd2: [
                        { validator: validatePass2, trigger: 'blur' }
                    ]
                },
                changeLoading: false
            }
        },
        beforeMount: function () {
            console.log(this.step)
        },
        methods: {
            sendEmail: function () {
                let self = this
                if (this.passwordForm1.userid) {
                    $.ajax({
                        type: 'POST',
                        url: 'http://www.realtoraccess.com/web/topasswd/',
                        data: { userid: self.passwordForm1.userid },
                        success: function (resp) {
                            self.passwordForm1.code2 = resp
                            self.$message({
                                type: 'success',
                                message: 'Send Email Success'
                            })
                        }
                    })
                }
            },
            nextStep: function () {
                let self = this
                this.$refs.form1.validate(function (valid) {
                    if (valid) {
                        if (self.passwordForm1.code === self.passwordForm1.code2) {
                            self.step = 2
                        } else {
                            self.$message({
                                type: 'error',
                                message: 'Wrong Verification Code'
                            })
                        }
                    }
                })
            },
            changePassword: function () {
                let self = this
                this.$refs.form2.validate(function (valid) {
                    if (valid) {
                        this.changeLoading = true
                        $.ajax({
                            type: 'POST',
                            url: 'http://www.realtoraccess.com/web/postpasswd/',
                            data: { userid: self.passwordForm1.userid, passwd1: self.passwordForm2.passwd1, passwd2: self.passwordForm2.passwd2 },
                            success: function (resp) {
                                let respData = JSON.parse(resp)
                                let code = respData.rescode
                                if (code !== "0") {
                                    self.changeLoading = false
                                    self.$message({
                                        type: 'error',
                                        message: respData.resdesc
                                    })
                                } else {
                                    self.$message({
                                        type: 'success',
                                        message: 'Change Password Success'
                                    })
                                    window.location.href = '/web/page/signin/'
                                }
                            }
                        })
                    }
                })
            },
            enterHome: function () {
                window.location.href = '/'
            }
        }
    })
</script>

</html>